.about {
	padding-top: 123px;
	padding-bottom: 94px;
	@media (max-width: $md1+px) {
		padding-top: 114px;
	}
	@media (max-width: 1199px) {
		padding-top: 62px;
		padding-bottom: 50px;
	}
	@media (max-width: $md2+px) {
		padding-top: 42px;
		padding-bottom: 49px;
	}
	@media (max-width: $md3+px) {
		padding-top: 8px;
		padding-bottom: 55px;
	}
	@media (max-width: $md4+px) {
		padding-top: 30px;
		padding-bottom: 39px;
	}
	&__wrapper {
		display: flex;
		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__img {
		width: 680px;
		transform: translate(-90px, 0px);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: $md1+px) {
			width: 532px;
			transform: translate(-8px, 0px);
		}
		@media (max-width: 1199px) {
			width: 488px;
			transform: translate(-16px, 0px);
		}
		@media (max-width: $md2+px) {
			width: 100%;
			background-position: center;
			padding-top: 100%;
			transform: translate(0px, 0px);
		}
		@media (max-width: $md3+px) {
			height: 260px;
			left: 0;
		}
		@media (max-width: $md4+px) {
			height: 160px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 44px 0px 0px 18px;
		@media (max-width: $md1+px) {
			padding: 23px 0px 0px 28px;
		}
		@media (max-width: 1199px) {
			padding: 0px 0px 0px 22px;
		}
		@media (max-width: $md2+px) {
			margin-top: 60px;
			align-items: flex-end;
			padding: 0px 0px 0px 30px;
			// align-items: center;
		}
		@media (max-width: $md3+px) {
			// padding-top: 290px;
		}
		@media (max-width: $md4+px) {
		}
	}

	&__item {
		max-width: 590px;
		margin-bottom: 89px;
		@media (max-width: $md1+px) {
			max-width: 508px;
			margin-bottom: 47px;
		}
		@media (max-width: 1199px) {
			max-width: 450px;
			// margin-right: 0;
			margin-bottom: 27px;
		}
		@media (max-width: $md2+px) {
			max-width: 546px;
			margin-right: 23px;
		}
		@media (max-width: $md3+px) {
			max-width: 460px;
			margin-bottom: 25px;
		}

		&:nth-child(even) {
			// margin-right: -11px;
			margin-left: 100px;
			@media (max-width: $md1+px) {
				// margin-right: 0px;
				margin-left: 73px;
			}
			@media (max-width: 1199px) {
				margin-left: 0px;
			}
			@media (max-width: $md2+px) {
				// margin-right: 144px;
				align-self: flex-start;
			}
			@media (max-width: $md3+px) {
				margin-right: 64px;
			}
			@media (max-width: $md4+px) {
				margin-right: 0;
			}
		}
	}

	&__text {
		max-width: 580px;
		margin-top: 13px;
		padding-left: 10px;
		@media (max-width: 1199px) {
			padding-left: 0px;
		}
		@media (max-width: $md2+px) {
			padding-left: 10px;
			margin-top: 12px;
		}
		@media (max-width: $md4+px) {
			padding-left: 0;
			margin-top: 8px;
		}
		span {
			font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
			font-weight: 500;
			line-height: 25px;
			color: $color-black;
		}
	}
}
