/*=============================сброс стилей======================*/
@import "_reset";
/*=============================шрифты======================*/
@import "_tools";
@import "_fonts";

/*================================сетка=================*/

.container {
	max-width: $mw + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: $md1+px) {
		max-width: 1180px;
	}
	@media (max-width: 1199px) {
		max-width: 980px;
		padding: 0 10px;
	}
	@media (max-width: $md2+px) {
		max-width: 740px;
	}
	@media (max-width: $md3+px) {
		max-width: 560px;
		// padding: 0 10px;
	}
	@media (max-width: $md4+px) {
		// max-width: 450px;
		max-width: none;
		padding: 0 16px;
	}
}

/* ==============================общие стили============*/

body {
	display: flex;
	flex-direction: column;

	font-family: $mainFont;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	color: $color-black;
	background-color: #fff;
	@media (max-width: $md4+px) {
		font-size: 12px;
		line-height: 20px;
	}
	&.lock {
		overflow: hidden;
	}
}
main {
	width: 100%;
	flex: 1 1 auto;
	// overflow: hidden;
}
.container {
	position: relative;
}
a {
	font-family: $mainFont;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;

	@media (min-width: 992px) {
		&:hover {
			color: $color-golden;
			transition: all 0.3s ease 0s;
		}
	}
}
h1 {
	font-family: $headerFont;
	font-weight: 400;
	font-size: 85px;
	line-height: 105px;
	color: #ffffff;
	@media (max-width: $md1+px) {
		font-size: 72px;
		line-height: 95px;
	}
	@media (max-width: 1199px) {
		font-size: 72px;
		line-height: 95px;
	}
	@media (max-width: $md2+px) {
		max-width: 566px;
	}
	@media (max-width: $md3+px) {
		font-size: 64px;
		line-height: 87px;
		text-align: center;
		max-width: none;
	}
	@media (max-width: $md4+px) {
		font-size: 36px;
		line-height: 49px;
	}
}
h2 {
	position: relative;
	padding-bottom: 20px;
	font-family: $headerFont;
	font-weight: 400;
	font-size: 60px;
	line-height: 81px;
	color: $color-black;
	@media (max-width: $md1+px) {
		font-size: 50px;
		line-height: 68px;
	}
	@media (max-width: $md2+px) {
		display: inline-block;
		font-size: 42px;
		line-height: 57px;
	}
	@media (max-width: $md3+px) {
		display: block;
		text-align: center;
		font-size: 36px;
		line-height: 49px;
		padding-bottom: 12px;
	}
	@media (max-width: $md4+px) {
		font-size: 24px;
		line-height: 33px;
	}
	&::after {
		content: "";
		width: 375px;
		height: 1px;
		position: absolute;
		top: 100%;
		left: -120px;
		background: $color-golden;
		@media (max-width: $md1+px) {
			width: 250px;
			left: -30px;
		}
		@media (max-width: 1199px) {
			left: -16px;
		}
		@media (max-width: $md2+px) {
			left: -24px;
			width: 106%;
			// width: 590px;
		}
		@media (max-width: $md3+px) {
			width: 300px;
			left: 50%;
			transform: translate(-50%, 0%);
		}
		@media (max-width: $md4+px) {
			width: 200px;
		}
	}
}
h3 {
	font-family: $headerFont;
	font-weight: 400;
	font-size: 42px;
	line-height: 57px;
	color: $color-black;
	@media (max-width: $md1+px) {
		font-size: 36px;
		line-height: 49px;
	}
	@media (max-width: $md2+px) {
		font-size: 32px;
		line-height: 43px;
	}
	@media (max-width: $md3+px) {
		font-size: 28px;
		line-height: 38px;
	}
	@media (max-width: $md4+px) {
		font-size: 20px;
		line-height: 27px;
	}
}
h4 {
	font-family: $headerFont;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	color: $color-white;
	@media (max-width: $md2+px) {
		font-size: 24px;
		line-height: 33px;
	}
	@media (max-width: $md3+px) {
		font-size: 20px;
		line-height: 27px;
	}
	@media (max-width: $md4+px) {
		font-size: 16px;
		line-height: 22px;
	}
}

.arrow-link {
	width: 436px;
	@media (max-width: $md4+px) {
		max-width: 290px;
	}
	a {
		width: 100%;
		display: inline-block;
		position: relative;
		font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		// margin-bottom: 10px;
		text-transform: uppercase;
		text-align: left;
		color: $color-golden;
		transition: all 0.2s ease 0s;
		@media (max-width: $md3+px) {
			line-height: 1;
		}

		@media (max-width: $md4+px) {
			font-size: 12px;
			line-height: 15px;
		}
	}
	&__arrow {
		display: inline-block;

		width: 100%; // width: 436px;
		height: 1px;
		background: $color-golden;

		@media (max-width: 1199px) {
			width: 471px;
		}
		@media (max-width: $md2+px) {
			width: 471px;
		}
		@media (max-width: $md4+px) {
			width: 287px;
		}
	}

	&__img {
		stroke: #bca853;
		width: 13px;
		height: 25px;
		position: absolute;
		top: 16px;
		// left: 425px;
		right: -2px;
		@media (max-width: 1199px) {
			right: -37px;
			top: 16px;
		}
		@media (max-width: $md3+px) {
			top: 16px;
		}
		@media (max-width: $md4+px) {
			left: 276px;
			top: 9px;
		}
	}
}
@media (min-width: 992px) {
	.arrow-link a:hover {
		color: $color-white;
		transition: all 0.2s ease 0s;
		.arrow-link__arrow {
			background-color: $color-white;
		}

		.arrow-link__img {
			stroke: $color-white;
		}
	}
}
.cat-header {
	min-height: 100vh;
	.header-bottom {
		display: block;
	}
	.header-bottom__content {
		padding-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1.header-bottom__title {
		max-width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
	p {
		max-width: 65%;
		font-size: 18px;
		color: #fff;
		margin-bottom: 50px;
	}
	h3 {
		color: #fff;
		// margin-bottom: 50px;
	}
	.header-bottom__link {
		margin: 35px auto 0px auto;
		width: auto;
		padding: 0px 30px;
	}
}
.thanks {
	min-height: 100vh;
	.header-bottom {
		display: block;
	}
	.header-bottom__content {
		padding-left: 0;
	}
	h1.header-bottom__title {
		max-width: 100%;
		text-align: center;
	}
	h3 {
		margin-top: 40px;
		text-align: center;
		color: $color-white;
		font-family: $mainFont;
	}
	.header-bottom__link {
		margin: 65px auto 0px auto;
	}
	.thanks-bottom__contacts {
		display: none;
		@media (max-width: $md4+px) {
			display: flex;
			justify-content: center;
		}
	}
	.thanks-bottom__socials {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		li {
			@media (max-width: $md4+px) {
				margin: 0 12.5px;
			}
			a {
				margin-right: 16px;
				line-height: 30px;
				@media (max-width: $md4+px) {
					display: inline-block;
					width: 40px;
					height: 40px;
					background-color: $color-golden;
					font-size: 12px;
					color: $color-white;
					text-align: center;
					line-height: 40px;
					margin: 0;
				}
			}
		}
	}
}

/* =================================стили секций=============================*/
/* =========================Главный экран=============================*/
@import "_header";
/* =========================О нас=============================*/
@import "_intro";
/* =========================материалы=============================*/

@import "_about";
/* =========================Что мы производим=============================*/
// @import "_fixed";
@import "_product";
/* =========================Блок с акцией=============================*/
@import "_action";
/* =========================Последние работы=============================*/
@import "_works";
/* =========================Отзывы=============================*/
@import "_reviews";
/*==============================Блок “FAQ”=====================*/
@import "_faq";
/*==============================Блок “Контакты”=====================*/
@import "_map";
/*==============================франшиза=====================*/
@import "_fran";
/*==============================футер=====================*/
@import "_footer";
/*==============================форма=====================*/
@import "_popup";
/*==============================Каталог=====================*/
@import "_cat";
/*============================медиа-запросы==============================*/

// ============================================меню бургер
// .menu-icon {
// 	display: none;
// }
// @media (max-width: $md3+px) {
// 	.logo {
// 		z-index: 3;
// 	}
// 	.menu-icon {
// 		display: block;
// 		position: relative;
// 		width: 27px;
// 		height: 18px;
// 		z-index: 3;
// 		// top: 10px;
// 	}
// 	.menu-icon span {
// 		position: absolute;
// 		background-color: #fff;
// 		border-radius: 1px;
// 		position: absolute;
// 		left: 0;
// 		width: 100%;
// 		height: 2px;
// 		top: 8px;
// 		transition: all 0.2s linear 0s;
// 	}

// 	.menu-icon:before,
// 	.menu-icon:after {
// 		content: "";
// 		background-color: #fff;
// 		border-radius: 1px;
// 		position: absolute;
// 		width: 100%;
// 		height: 2px;
// 		left: 0;
// 		transition: all 0.3s linear 0s;
// 	}

// 	.menu-icon:before {
// 		top: 0;
// 	}

// 	.menu-icon:after {
// 		bottom: 0;
// 	}

// 	.menu-icon.active span {
// 		transform: scale(0);
// 		transition: all 0.1s linear 0s;
// 	}

// 	.menu-icon.active:before {
// 		transform: rotate(45deg);
// 		top: 8px;
// 	}

// 	.menu-icon.active:after {
// 		transform: rotate(-45deg);
// 		bottom: 8px;
// 	}
// 	.nav {
// 		position: fixed;
// 		top: -250%;
// 		right: 0;
// 		width: 100%;
// 		height: 100vh;
// 		z-index: 1;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		overflow: auto;
// 		transition: all 1.2s ease 0.3s;
// 		background-color: rgba(53, 96, 146, 0.9);
// 		padding: 0px 0px 0px 0px;
// 		&__list {
// 			flex-direction: column;
// 		}
// 		&__li {
// 			margin-bottom: 40px;
// 			max-height: 80px;
// 		}
// 		&__link {
// 			font-size: 24px;
// 		}
// 	}

// 	.nav.active {
// 		top: 0px;
// 		transition: all 1.2s ease 0s;
// 	}
// }
