@charset "UTF-8";

/*=============================сброс стилей======================*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: baseline;
  background: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

aside,
nav,
footer,
header,
section,
main,
article {
  display: block;
}

:focus,
:active,
a:focus,
a:active,
a:visited {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input,
option,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  text-transform: none;
}

a,
button {
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=============================шрифты======================*/

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Prata-Regular";
  font-display: swap;
  src: url("../fonts/Prata-Regular.woff") format("woff"), url("../fonts/Prata-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*================================сетка=================*/

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* ==============================общие стили============*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #1c1b1b;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

h2 {
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 81px;
  color: #1c1b1b;
}

h3 {
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  color: #1c1b1b;
}

h4 {
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}

.arrow-link a {
  display: inline-block;
  position: relative;
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #bca853;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.arrow-link__arrow {
  display: inline-block;
  width: 436px;
  height: 1px;
  background: #bca853;
}

.arrow-link__img {
  stroke: #bca853;
  width: 13px;
  height: 25px;
  position: absolute;
  top: 22px;
  left: 425px;
}

/* =================================стили секций=============================*/

/* =========================Главный экран=============================*/

.header {
  position: relative;
  width: 100%;
  min-height: 900px;
  background: url("../img/bg-01.jpg") top center/cover no-repeat;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 27, 27, 0.95);
}

.header__row {
  position: relative;
  z-index: 9;
}

.header__menu-icon {
  display: none;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header-logo__img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.header-logo__brand {
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
}

.header-contacts__socials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  padding-right: 14px;
  margin-top: 13px;
}

.header-contacts__socials li a {
  margin-right: 16px;
  line-height: 30px;
}

.header-contacts__socials::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.header-contacts__calls {
  margin-top: 12px;
}

.header-contacts.active {
  top: -12px;
  left: 0;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.header__phone-link {
  margin-left: 30px;
  text-align: right;
  line-height: 28px;
}

.header__popup {
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(238, 243, 245, 0.5);
}

.header__callback {
  text-align: right;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
}

.header-bottom__content {
  padding-left: 47.1%;
  padding-top: 68px;
}

.header-bottom__title {
  max-width: 718px;
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 105px;
  color: #ffffff;
}

.header-bottom__list {
  margin-top: 22px;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.header-bottom__list li {
  position: relative;
  padding-left: 58px;
  margin-bottom: 11px;
}

.header-bottom__list li::before {
  content: "";
  width: 35px;
  height: 1px;
  position: absolute;
  top: 49%;
  left: 0;
  background-color: #fff;
}

.header-bottom__link {
  display: block;
  width: 346px;
  height: 80px;
  margin-top: 44px;
  line-height: 80px;
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #bca853;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-img {
  position: relative;
}

.header-img__case-1 {
  width: 375px;
  position: absolute;
  top: 102px;
  left: 184px;
  z-index: 2;
}

.header-img__case-2 {
  width: 355px;
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 1;
}

/* =========================О нас=============================*/

.intro {
  padding-top: 200px;
}

.intro__wrapper {
  position: relative;
}

.intro__title {
  max-width: 670px;
  position: relative;
  padding-bottom: 20px;
}

.intro__title::after {
  content: "";
  width: 375px;
  height: 1px;
  position: absolute;
  top: 100%;
  left: -120px;
  background: rgba(188, 168, 83, 0.5);
}

.intro__content {
  max-width: 553px;
  padding: 50px 0px 77px 0px;
}

.intro__content p {
  margin-bottom: 26px;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  color: #1c1b1b;
}

.intro__content span {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 25px;
  color: #1c1b1b;
}

.intro__img {
  position: absolute;
  top: -19px;
  left: 57.2%;
  z-index: 1;
  width: 670px;
  height: 800px;
  background-position: -150px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__facts {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__fact {
  width: 315px;
  margin: 0px 30px 80px 0px;
}

.intro__digits {
  margin-bottom: 12px;
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}

.intro__desc {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* =========================материалы=============================*/

.about {
  padding-top: 123px;
  padding-bottom: 94px;
}

.about__img-wrapper {
  position: relative;
}

.about__img {
  position: absolute;
  top: 0;
  left: -90px;
  z-index: 1;
  width: 670px;
  height: 800px;
  background: url("../img/intro-2.jpg") top center/cover no-repeat;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 44px;
}

.about__item {
  max-width: 590px;
  margin-bottom: 89px;
}

.about__item:first-child {
  margin-right: 91px;
}

.about__item:nth-child(even) {
  margin-right: -11px;
}

.about__item:last-child {
  margin-right: 88px;
}

.about__text {
  max-width: 580px;
  margin-top: 13px;
  padding-left: 10px;
}

.about__text span {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 25px;
  color: #1c1b1b;
}

/* =========================Что мы производим=============================*/

.product {
  background-color: #1c1b1b;
  color: #ffffff;
}

.product h2,
.product h3 {
  color: #ffffff;
}

.product .container {
  max-width: 100%;
  padding: 0;
}

.product__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-about {
  width: 49.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-about__fixed {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.product-about__content {
  width: 788px;
  height: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.product-about__content h2 {
  max-width: 553px;
  text-align: center;
}

.product-about__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 204px;
  margin-top: 41px;
  position: relative;
}

.product-about__icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: fixed__icon 2.5s linear infinite;
          animation: fixed__icon 2.5s linear infinite;
}

@-webkit-keyframes fixed__icon {
  0% {
    margin-top: 4px;
  }

  25% {
    margin-top: 0;
  }

  50% {
    margin-top: -4px;
  }

  75% {
    margin-top: 0;
  }

  100% {
    margin-top: 4px;
  }
}

@keyframes fixed__icon {
  0% {
    margin-top: 4px;
  }

  25% {
    margin-top: 0;
  }

  50% {
    margin-top: -4px;
  }

  75% {
    margin-top: 0;
  }

  100% {
    margin-top: 4px;
  }
}

.product-about__text {
  line-height: 28px;
  margin-left: 40px;
}

.product-items {
  width: 50.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item {
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-item__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(28, 27, 27, 0.75);
}

.product-item__content h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 100px;
  text-align: center;
}

/* =========================Блок с акцией=============================*/

.action {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1px;
}

.action__wrapper {
  width: 100%;
  height: 100%;
  background-color: #1c1b1b;
}

.action__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22px;
}

.action__img {
  width: 617px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.action__content {
  max-width: 670px;
  min-height: 777px;
  margin-left: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action__content h2 {
  color: #ffffff;
  margin-bottom: 13px;
}

.action__text {
  color: #ffffff;
  margin-bottom: 45px;
}

.action .arrow-link a {
  line-height: 1;
}

/* =========================Последние работы=============================*/

.works {
  position: relative;
  padding-top: 140px;
  /* Стрелка влево */
  /* Стрелка вправо */
}

.works h2 {
  position: relative;
}

.works h2::after {
  content: "";
  width: 375px;
  height: 1px;
  position: absolute;
  top: 100px;
  left: -120px;
  background: rgba(188, 168, 83, 0.9);
}

.works__link {
  text-align: right;
  margin-top: -10px;
}

.works__link a {
  display: inline-block;
  width: 200px;
  position: relative;
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: right;
  color: #1c1b1b;
}

.works__link a::after {
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: -9px;
  background-color: #1c1b1b;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works__text {
  display: none;
}

.works__slider {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

.works__slider::before {
  content: "";
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}

.works__slider::after {
  content: "";
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}

.works .slick-list {
  overflow: hidden;
}

.works .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.works .slick-slide {
  margin: 0px 2.5px;
}

.works .slick-arrow {
  position: absolute;
  font-size: 0px;
  z-index: 2;
  width: 20px;
  height: 38px;
  margin: -16px;
}

.works .slick-arrow.slick-prev {
  top: -125px;
  left: 47.8%;
  font-size: 0px;
  background-image: url(../img/prev.svg);
}

.works .slick-arrow.slick-next {
  top: -125px;
  right: 48%;
  font-size: 0px;
  background-image: url(../img/next.svg);
}

.works .slick-slide.show .works-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works .slick-slide.show .works-slide__btn a {
  display: block;
}

.works-slide {
  position: relative;
  min-height: 724px;
  width: 100%;
  padding-top: 138%;
}

.works-slide__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-slide__product {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.works-slide__content {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(28, 27, 27, 0.75);
}

.works-slide__title {
  padding-bottom: 10px;
  font-family: "Prata-Regular", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}

.works-slide__line {
  width: 310px;
  height: 1px;
  background: #ffffff;
}

.works-slide__desc {
  margin-top: 14px;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.works-slide__btn {
  width: 100%;
  height: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  padding-top: 20px;
  background-color: transparent;
}

.works-slide__btn a {
  display: none;
  width: 100%;
  height: 80px;
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 80px;
  background-color: #1c1b1b;
  text-align: center;
}

.works-slide__btn a:active {
  top: 3px;
}

/* =========================Отзывы=============================*/

.reviews {
  padding-top: 134px;
  /* Стрелка влево */
  /* Стрелка вправо */
}

.reviews .container {
  max-width: 1600px;
  padding: 0px 32px;
  position: relative;
}

.reviews h2 {
  position: relative;
  margin: 50px 0px 0px 88px;
}

.reviews h2::after {
  content: "";
  width: 375px;
  height: 1px;
  position: absolute;
  top: 100px;
  left: -120px;
  background: rgba(188, 168, 83, 0.9);
}

.reviews__text {
  margin: 72px 0px 53px 88px;
  max-width: 553px;
}

.reviews__text p {
  margin-bottom: 25px;
}

.reviews__text span {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.reviews__link {
  margin-left: 88px;
}

.reviews__link a {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #bca853;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews__arrow {
  width: 386px;
  height: 1px;
  background: #bca853;
  position: relative;
}

.reviews__arrow::after {
  content: "";
  width: 13px;
  height: 25px;
  position: absolute;
  top: -12px;
  right: -2px;
  background: url("../img/link-arrow.svg") center/cover no-repeat;
}

.reviews .slick-list {
  overflow: hidden;
}

.reviews .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.reviews .slick-arrow {
  position: absolute;
  font-size: 0px;
  z-index: 2;
  width: 20px;
  height: 38px;
  top: 0;
}

.reviews .slick-arrow.slick-prev {
  left: -186px;
  top: 74px;
  background-image: url(../img/prev.svg);
}

.reviews .slick-arrow.slick-next {
  left: -108px;
  top: 74px;
  background-image: url(../img/next.svg);
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 764px;
  height: 675px;
}

.reviews-slider__wrapper {
  position: absolute;
  top: -52px;
  right: 32px;
  z-index: 1;
}

.reviews-slide {
  width: 100%;
}

.reviews-slide__img {
  width: 764px;
  height: 675px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*============================медиа-запросы==============================*/

@media (min-width: 992px) {
  a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .arrow-link a:hover {
    color: #ffffff;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .arrow-link a:hover .arrow-link__arrow {
    background-color: #ffffff;
  }

  .arrow-link a:hover .arrow-link__img {
    stroke: #ffffff;
  }

  .header-bottom__link:hover {
    background-color: #bca853;
    -webkit-box-shadow: 0px 0px 10px rgba(188, 168, 83, 0.1);
            box-shadow: 0px 0px 10px rgba(188, 168, 83, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #ffffff;
  }

  .works__link a:hover::after {
    background-color: #bca853;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .works-slide:hover .works-slide__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .works-slide:hover .works-slide__btn a {
    display: block;
  }

  .reviews__link a:hover {
    color: #9e8c3e;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 1199px) {
  .sticky {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    padding-right: 50.75%;
  }

  .off-sticky {
    position: relative;
    top: auto;
    left: 0;
    bottom: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 1599.98px) {
  .container {
    max-width: 1180px;
  }

  h2 {
    font-size: 50px;
    line-height: 68px;
  }

  h3 {
    font-size: 36px;
    line-height: 49px;
  }

  .header {
    min-height: 675px;
  }

  .header-top {
    padding-top: 16px;
  }

  .header-bottom {
    margin-top: 34px;
  }

  .header-bottom__content {
    padding-top: 40px;
    padding-left: 46%;
  }

  .header-bottom__title {
    font-size: 72px;
    line-height: 95px;
  }

  .header-bottom__list li {
    padding-left: 53px;
  }

  .header-bottom__link {
    margin-top: 40px;
  }

  .header-img__case-1 {
    width: 293px;
    left: 157px;
    top: 93px;
  }

  .header-img__case-2 {
    width: 277px;
    left: -3px;
  }

  .intro {
    padding-top: 204px;
  }

  .intro__title {
    padding-bottom: 17px;
  }

  .intro__title::after {
    width: 340px;
  }

  .intro__content {
    padding: 42px 0px 30px 0px;
    max-width: 495px;
  }

  .intro__img {
    width: 518px;
    height: 698px;
    top: -17px;
    left: 55.4%;
  }

  .intro__facts {
    max-width: 590px;
  }

  .intro__fact {
    max-width: 270px;
    margin: 0px 20px 38px 0px;
  }

  .intro__digits {
    font-size: 36px;
    line-height: 49px;
  }

  .about {
    padding-top: 114px;
  }

  .about__img {
    width: 532px;
    height: 708px;
    left: -8px;
    background-image: url("../img/intro-2-md.jpg");
    background-position: 50% -10px;
  }

  .about__content {
    padding-top: 22px;
  }

  .about__item {
    max-width: 508px;
    margin-bottom: 47px;
  }

  .about__item:first-child {
    margin-right: 70px;
  }

  .about__item:nth-child(even) {
    margin-right: 0px;
  }

  .about__item:last-child {
    margin-right: 70px;
  }

  .product-about {
    width: 50%;
  }

  .product-about__content {
    width: 100%;
    padding-left: 37px;
  }

  .product-about__content h2 {
    max-width: 460px;
  }

  .product-items {
    width: 50%;
  }

  .product-item {
    height: 550px;
  }

  .action__row {
    margin-left: 40px;
  }

  .action__img {
    width: 486px;
  }

  .action__content {
    max-width: 530px;
    min-height: 677px;
    margin-left: 57px;
    padding-bottom: 22px;
  }

  .action__content h2 {
    margin-bottom: 10px;
  }

  .action__text {
    margin-bottom: 47px;
  }

  .works {
    padding-top: 120px;
  }

  .works h2::after {
    width: 340px;
    top: 120%;
  }

  .works__link {
    margin-top: -16px;
  }

  .works__link a::after {
    bottom: -10px;
  }

  .works__slider {
    margin-top: 66px;
  }

  .works__slider::before {
    width: 23px;
  }

  .works__slider::after {
    width: 23px;
  }

  .works .slick-slide {
    margin: 0px 4px;
  }

  .works .slick-arrow.slick-prev {
    top: -113px;
    left: 47.5%;
  }

  .works .slick-arrow.slick-next {
    top: -113px;
    right: 47%;
  }

  .works-slide {
    min-height: 600px;
  }

  .reviews {
    padding-top: 120px;
  }

  .reviews h2::after {
    width: 340px;
    top: 120%;
  }

  .reviews .slick-arrow.slick-next {
    left: 10px;
  }

  .reviews-slider {
    width: 568px;
    height: 600px;
  }

  .reviews-slide__img {
    width: 568px;
    height: 600px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 980px;
    padding: 0 10px;
  }

  .arrow-link__arrow {
    width: 471px;
  }

  .arrow-link__img {
    left: 460px;
  }

  .header-top {
    padding-top: 3px;
  }

  .header-contacts {
    margin-right: 2px;
    margin-top: 13px;
  }

  .header-contacts__socials {
    margin-top: 15px;
  }

  .header-contacts__calls {
    margin-top: 15px;
  }

  .header__callback {
    margin-top: 3px;
  }

  .header-bottom {
    margin-top: 66px;
  }

  .header-bottom__content {
    padding-left: 38.1%;
    padding-top: 5px;
  }

  .header-bottom__title {
    font-size: 72px;
    line-height: 95px;
  }

  .header-bottom__link {
    margin-top: 50px;
  }

  .header-img__case-1 {
    width: 260px;
    left: 74px;
  }

  .header-img__case-2 {
    width: 243px;
    left: -17px;
  }

  .intro {
    padding-top: 166px;
  }

  .intro__title {
    max-width: 350px;
  }

  .intro__content {
    max-width: 450px;
    margin-bottom: 136px;
    padding: 61px 0px 32px 0px;
  }

  .intro__img {
    width: 486px;
    height: 598px;
    top: -65px;
    left: 50.9%;
  }

  .intro__facts {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro__fact {
    max-width: 22%;
    margin-right: 15px;
  }

  .about {
    padding-top: 62px;
    padding-bottom: 50px;
  }

  .about__img {
    width: 488px;
    height: 715px;
    left: -16px;
  }

  .about__content {
    padding-top: 0px;
  }

  .about__item {
    max-width: 450px;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .about__item:first-child {
    margin-right: 0;
  }

  .about__item:last-child {
    margin-right: 0;
  }

  .about__text {
    padding-left: 0px;
  }

  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-about {
    width: 100%;
    height: 500px;
  }

  .product-about__fixed {
    height: 100%;
  }

  .product-about__content {
    padding: 0 10%;
  }

  .product-about__content h2 {
    max-width: 100%;
  }

  .product-about__cta {
    display: none;
  }

  .product-items {
    width: 100%;
  }

  .product-item {
    height: 501px;
    border-top: 1px solid #ffffff;
  }

  .product-item__content h3 {
    padding: 0px 150px;
  }

  .action {
    position: relative;
    margin-top: 1px;
  }

  .action__wrapper {
    background-color: rgba(28, 27, 27, 0.95);
  }

  .action__row {
    position: relative;
    z-index: 9;
  }

  .action__img {
    display: none;
  }

  .action__content {
    min-height: 500px;
    padding-bottom: 0px;
    margin-left: 82px;
  }

  .action__content h2 {
    margin-bottom: 15px;
  }

  .action__text {
    margin-bottom: 53px;
  }

  .works {
    padding-top: 100px;
  }

  .works__slider {
    margin-top: 58px;
  }

  .works__slider::before {
    display: none;
  }

  .works__slider::after {
    display: none;
  }

  .works .slick-slide {
    margin: 0px 10px;
  }

  .works .slick-arrow.slick-prev {
    top: -103px;
    left: 57%;
  }

  .works .slick-arrow.slick-next {
    top: -103px;
    right: 35.4%;
  }

  .works-slide__line {
    width: 118px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 740px;
  }

  h2 {
    font-size: 42px;
    line-height: 57px;
  }

  h3 {
    font-size: 32px;
    line-height: 43px;
  }

  .arrow-link__arrow {
    width: 471px;
  }

  .header {
    padding-bottom: 90px;
  }

  .header-top {
    padding-top: 2px;
  }

  .header-logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .header-logo__brand {
    font-size: 20px;
  }

  .header-contacts {
    margin-top: 11px;
  }

  .header-contacts__socials {
    margin-top: 18px;
  }

  .header-contacts__calls {
    margin-top: 18px;
  }

  .header__callback {
    margin-top: 2px;
  }

  .header-bottom {
    margin-top: 55px;
  }

  .header-bottom__content {
    padding-left: 0;
  }

  .header-bottom__title {
    max-width: 566px;
  }

  .header-bottom__list {
    margin-top: 15px;
  }

  .header-bottom__list li {
    margin-bottom: 12px;
  }

  .header-img {
    display: none;
  }

  .intro {
    padding-top: 80px;
  }

  .intro__title {
    max-width: 100%;
  }

  .intro__title::after {
    width: 590px;
  }

  .intro__content {
    max-width: 330px;
    padding: 106px 0px 32px 0px;
    margin-bottom: 87px;
  }

  .intro__img {
    width: 351px;
    height: 405px;
    top: 115px;
    left: 51.3%;
  }

  .intro__fact {
    margin-right: 9px;
  }

  .intro__digits {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 7px;
  }

  .intro__desc {
    font-size: 14px;
    line-height: 17px;
  }

  .about {
    padding-top: 42px;
    padding-bottom: 49px;
  }

  .about__img {
    background-image: url("../img/intro-2-sm.jpg");
    width: 100%;
    height: 310px;
    left: 2px;
  }

  .about__content {
    padding-top: 360px;
  }

  .about__item {
    max-width: 546px;
  }

  .about__item:first-child {
    margin-right: 23px;
  }

  .about__item:nth-child(even) {
    margin-right: 144px;
  }

  .about__item:last-child {
    margin-right: 24px;
  }

  .about__text {
    padding-left: 10px;
    margin-top: 12px;
  }

  .product-about {
    height: 400px;
  }

  .product-item {
    height: 401px;
  }

  .product-item__content h3 {
    padding: 0px 140px;
  }

  .action {
    border-top: 1px solid #ffffff;
    margin-top: 0;
  }

  .action__content {
    min-height: 400px;
    margin-left: 53px;
  }

  .action__text {
    margin-bottom: 50px;
  }

  .works {
    padding-top: 80px;
  }

  .works h2::after {
    width: 422px;
    left: -24px;
  }

  .works__link {
    margin-top: -20px;
  }

  .works__link a {
    width: 132px;
  }

  .works__link a::after {
    width: 100%;
  }

  .works__text {
    display: block;
    font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #828282;
    margin: 48px 0px 15px 0px;
  }

  .works__slider {
    margin: 0 auto;
    max-width: 736px;
  }

  .works .slick-slide {
    min-width: 352px;
    margin: 0 8px;
  }

  .works .slick-arrow.slick-prev {
    top: -75px;
    left: 63.5%;
  }

  .works .slick-arrow.slick-next {
    top: -75px;
    right: 28.4%;
  }

  .works-slide {
    min-width: 352px;
  }

  .works-slide__title {
    font-size: 24px;
    line-height: 33px;
  }

  .reviews h2::after {
    width: 422px;
    left: -24px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 560px;
  }

  h2 {
    font-size: 36px;
    line-height: 49px;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  .arrow-link a {
    line-height: 1;
  }

  .arrow-link__img {
    top: 16px;
  }

  .header {
    padding-bottom: 65px;
  }

  .header-top {
    padding-top: 0px;
  }

  .header-contacts__socials {
    margin-top: 18px;
  }

  .header-contacts__calls {
    margin-top: 19px;
  }

  .header-bottom__title {
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    max-width: none;
  }

  .header-bottom__list {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header-bottom__list li {
    max-width: 39.5%;
    margin-left: 20px;
    margin-bottom: 41px;
    padding-left: 54px;
  }

  .header-bottom__list li:nth-child(even) {
    margin-left: 41px;
  }

  .header-bottom__list li::before {
    top: 7px;
  }

  .header-bottom__link {
    margin: -3px auto;
  }

  .intro__title {
    text-align: center;
    padding-bottom: 12px;
  }

  .intro__title::after {
    width: 300px;
    left: 120px;
  }

  .intro__content {
    margin-top: 40px;
    max-width: 100%;
    margin-bottom: 0;
    padding: 0px 0px 32px 0px;
  }

  .intro__content p:last-child {
    margin-bottom: 16px;
  }

  .intro__img {
    position: static;
    width: 100%;
    height: 300px;
    margin-top: 42px;
    background-position: top center;
  }

  .intro__facts {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .intro__fact {
    max-width: 48%;
    text-align: center;
    margin-bottom: 72px;
    margin-right: 0;
  }

  .intro__digits {
    font-size: 28px;
    line-height: 38px;
  }

  .about {
    padding-top: 8px;
    padding-bottom: 55px;
  }

  .about__img {
    height: 260px;
    left: 0;
  }

  .about__content {
    padding-top: 290px;
  }

  .about__item {
    max-width: 460px;
    margin-bottom: 25px;
  }

  .about__item:first-child {
    margin-right: 20px;
  }

  .about__item:nth-child(even) {
    margin-right: 64px;
  }

  .about__item:last-child {
    margin-right: 20px;
  }

  .product-about {
    height: 351px;
  }

  .product-about__content {
    padding: 0 7%;
  }

  .product-item {
    height: 351px;
  }

  .product-item__content h3 {
    padding: 0px 100px;
  }

  .action__row {
    margin-left: 35px;
  }

  .action__content {
    max-width: 475px;
    min-height: 350px;
    margin-left: 0;
    padding-bottom: 8px;
  }

  .action__text {
    margin-bottom: 17px;
  }

  .works h2::after {
    width: 366px;
    left: -18px;
  }

  .works__link {
    position: absolute;
    left: 50%;
    top: 567px;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    z-index: 1;
  }

  .works__link a::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: -12px;
    background-color: #1c1b1b;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .works__slider {
    max-width: 560px;
  }

  .works .slick-slide {
    min-width: 260px;
    margin: 0 10px;
  }

  .works .slick-arrow.slick-prev {
    left: 470px;
    top: -70px;
  }

  .works .slick-arrow.slick-next {
    top: -70px;
    right: 26px;
  }

  .works-slide {
    min-width: 0;
    min-height: 500px;
  }

  .works-slide__title {
    font-size: 20px;
    line-height: 27px;
  }

  .works-slide__desc {
    margin-top: 10px;
  }

  .reviews h2::after {
    width: 366px;
    left: -18px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: none;
    padding: 0 16px;
  }

  body {
    font-size: 12px;
    line-height: 20px;
  }

  h2 {
    font-size: 24px;
    line-height: 33px;
  }

  h3 {
    font-size: 20px;
    line-height: 27px;
  }

  .arrow-link a {
    font-size: 12px;
    line-height: 15px;
  }

  .arrow-link__arrow {
    width: 287px;
  }

  .arrow-link__img {
    left: 276px;
    top: 9px;
  }

  .header {
    min-height: 546px;
    padding-bottom: 33px;
  }

  .header__menu-icon {
    display: block;
    position: relative;
    height: 14px;
    width: 26px;
    margin-top: 12px;
    z-index: 2;
    cursor: pointer;
  }

  .header__menu-icon div {
    position: absolute;
    top: 7px;
    right: 0;
    width: 26px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
  }

  .header__menu-icon div:first-child {
    top: 0;
    width: 20px;
  }

  .header__menu-icon div:last-child {
    top: 100%;
  }

  .header-top {
    padding-top: 23px;
  }

  .header-contacts {
    position: fixed;
    top: -12px;
    left: -250%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background-color: #1c1b1b;
    padding: 0px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header-contacts__socials {
    padding-right: 0;
    margin-top: 40px;
  }

  .header-contacts__socials li {
    margin: 0 12.5px;
  }

  .header-contacts__socials li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 12px;
    color: #1c1b1b;
    text-align: center;
    line-height: 40px;
    margin: 0;
  }

  .header-contacts__socials::after {
    display: none;
  }

  .header-contacts__calls {
    margin-left: 0px;
    margin-top: 190px;
  }

  .header__phone-link {
    text-align: center;
    margin-left: 0;
  }

  .header__popup {
    text-align: center;
  }

  .header__callback {
    text-align: center;
  }

  .header-bottom {
    margin-top: 59px;
  }

  .header-bottom__title {
    font-size: 36px;
    line-height: 49px;
  }

  .header-bottom__list {
    margin-top: 20px;
  }

  .header-bottom__list li {
    max-width: 90%;
    font-size: 12px;
    line-height: 20px;
    margin-left: 14px;
    margin-bottom: 5px;
    padding-left: 42px;
  }

  .header-bottom__list li:nth-child(even) {
    margin-left: 14px;
  }

  .header-bottom__list li::before {
    width: 30px;
  }

  .header-bottom__link {
    width: 259px;
    height: 57px;
    line-height: 57px;
    margin: 15px auto;
    font-size: 14px;
  }

  .intro {
    padding-top: 61px;
  }

  .intro__title {
    padding-bottom: 8px;
  }

  .intro__content {
    margin-top: 22px;
  }

  .intro__content p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .intro__content p:last-child {
    margin-bottom: 5px;
  }

  .intro__img {
    height: 248px;
    margin-top: 30px;
  }

  .intro__fact {
    max-width: 72%;
    margin-bottom: 30px;
  }

  .intro__digits {
    font-size: 20px;
    line-height: 27px;
  }

  .intro__desc {
    font-size: 12px;
    line-height: 15px;
  }

  .about {
    padding-top: 30px;
    padding-bottom: 39px;
  }

  .about__img {
    height: 160px;
  }

  .about__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 180px;
  }

  .about__item:first-child {
    margin-right: 0;
  }

  .about__item:nth-child(even) {
    margin-right: 0;
  }

  .about__item:last-child {
    margin-right: 0;
  }

  .about__text {
    padding-left: 0;
    margin-top: 8px;
  }

  .product-about {
    height: 300px;
  }

  .product-about__content {
    padding: 0 40px;
  }

  .product-item {
    height: 301px;
  }

  .product-item__content h3 {
    padding: 0 40px;
  }

  .action__row {
    margin-left: 0;
  }

  .action__content {
    max-width: 100%;
    min-height: 300px;
    padding: 26px 0px 34px 0px;
  }

  .action__content h2 {
    margin-bottom: 7px;
  }

  .action__text {
    margin-bottom: 19px;
  }

  .works {
    padding-top: 60px;
  }

  .works h2 {
    text-align: center;
  }

  .works h2::after {
    width: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .works__link a {
    font-size: 14px;
    line-height: 17px;
    width: 162px;
    text-align: center;
  }

  .works__text {
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    margin: 20px 0px 10px 0px;
  }

  .works__slider {
    max-width: 96%;
  }

  .works .slick-slide {
    min-width: 288px;
    margin: 0 5px;
  }

  .works .slick-arrow.slick-prev {
    top: 418px;
    left: 20px;
  }

  .works .slick-arrow.slick-next {
    top: 418px;
    right: 20px;
  }

  .works-slide {
    min-height: 534px;
  }

  .works-slide__product {
    max-height: 360px;
  }

  .works-slide__btn {
    height: 173px;
    padding-top: 116px;
  }

  .works-slide__btn a {
    height: 57px;
    line-height: 57px;
    font-size: 14px;
  }

  .reviews h2::after {
    width: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .reviews__link a {
    font-size: 12px;
    line-height: 15px;
  }

  .reviews__arrow {
    width: 287px;
  }
}

@media (max-width: 575.98px) and (max-width: 575.98px) {
  .intro__title::after {
    width: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@media (min-width: 1199px) and (max-width: 1599.98px) {
  .sticky {
    padding-right: 50%;
  }
}